﻿<!DOCTYPE html>
<html lang="en" ng-app="App" ng-controller="ContactsController">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Kontakti</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>


        <header>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("All contacts", "Index", "Contacts")</li>
                    <li>@Html.ActionLink("All numbers", "Index", "PhoneNumbers" )</li>
                </ul>
            </nav>
        </header>

        <div>
            <ul>
                <li><a href="/#/routeOne">Route One</a></li>
                <li><a href="/#/routeTwo">Route Two</a></li>
                <li><a href="/#/routeThree">Route Three</a></li>
            </ul>

        </div>

        <div ng-view></div>




        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>



        <footer></footer>

        
        @RenderSection("scripts", required: false)

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js"></script>

        @Scripts.Render("~/bundles/angular")
    </body>
</html>
