﻿
<form name="newContactForm" novalidate role="form">


    <div class="form-group">
        <label>Ime </label>
        <input type="text" name="FirstName" ng-model="FirstName" required/> 
        <p ng-show="newContactForm.FirstName.$invalid && !newContactForm.FirstName.$pristine" class="float-right">Ime je obvezno.</p>

    </div>

    <div class="form-group">
        <label>Prezime </label>
        <input type="text" name="LastName" ng-model="LastName" /> 
    </div>

    <div class="form-group">
        <label>Broj </label>
        <input type="text" name="Number" ng-model="Number" ng-minlength=3 required />
        <p ng-show="newContactForm.Number.$invalid && !newContactForm.Number.$pristine" class="float-right">Broj je obvezan i mora imati više od 3 znaka</p>

    </div>

    <div class="form-group">
        <label>Mail adresa </label>
        <input type="text" name="MailAddress" ng-model="MailAddress" /> 
    </div>

    <div class="form-group">
        <label>Kućna adresa </label>
        <input type="text" name="Address" ng-model="Address" /> 
    </div>

    <div class="form-group">
        <label>Tagovi </label>
        <input type="text" name="Tags" ng-model="Tags" /> 
    </div>

    <div class="form-group">
        <label>Favorit </label>
        <input type="checkbox" name="Favourite" ng-model="Favourite" /> 
    </div>


    <button type="submit" ng-click="submit(newContactForm)" ng-disabled="newContactForm.$invalid">Dodaj</button>

</form>





