﻿<h2>{{contact.FirstName}} {{contact.LastName}}</h2>
<p> Adresa: {{contact.Address}} </p>

Brojevi telefona:
<ul>
    <li ng-repeat="number in contact.PhoneNumbers"> {{number.Number}}   </li>
</ul>

Mail adrese:
<ul>
    <li ng-repeat="address in contact.MailAddresses"> {{address.Address}}   </li>
</ul>

Tagovi:
<ul>
    <li ng-repeat="tag in contact.Tags">
        <span ng-click="search( tag )">{{tag}}</span>
    </li>
</ul>

<div class="float-right">
    <a href="#/">&lt Povratak</a>
    <a href="#/uredi/{{contact.Id}}">Uredi kontakt</a>
    <a href="#" ng-click="deleteContact( contact.Id )">Izbrisi kontakt</a>
</div>