﻿
<form name="updateForm" novalidate role="form">


    <div class="form-group">
        <label>Ime </label>
        <input type="text" name="FirstName" ng-model="contact.FirstName" value="" required/>
    </div>

    <div class="form-group">
        <label>Prezime </label>
        <input type="text" name="LastName" ng-model="contact.LastName" />
    </div>

    <div class="form-group" ng-repeat="number in contact.PhoneNumbers">
        <label>Broj {{$index + 1}}</label>
        <input type="text" name="Number" ng-model="number.Number" ng-minlength=3 required />
        <p ng-show="updateForm.Number.$invalid && !updateForm.Number.$pristine" class="float-right">Broj je obvezan i mora imati više od 3 znaka</p>

    </div>

    <div class="form-group" ng-repeat="address in contact.MailAddresses">
        <label>Mail adresa {{$index + 1 }}</label>
        <input type="text" name="MailAddress" ng-model="address.Address" />
    </div>

    <div class="form-group">
        <label>Kućna adresa </label>
        <input type="text" name="Address" ng-model="contact.Address" />
    </div>

    <div class="form-group" ng-repeat="tag in contact.Tags">
        <label>Tagovi {{$index + 1 }}</label>
        <input type="text" name="Tags" ng-model="tag.TagName" />
    </div>

    <div class="form-group">
        <label>Favorit </label>
        <input type="checkbox" name="Favourite" ng-model="contact.Favourite" />
    </div>


    <button type="submit" ng-click="update(updateForm)" >Dodaj</button>

</form>





