﻿<ul>
    <li class="contact-item fav-{{contact-favourite}}" ng-repeat="contact in contacts track by $index">

        <div class="float-right">

            <h4>Brojevi telefona: </h4>
            <ul>
                <li ng-repeat="number in contact.PhoneNumbers"> {{number.Number}}   </li>
            </ul>


            <h4>Tagovi:</h4>
            <ul>
                <li ng-repeat="tag in contact.Tags"> {{tag.TagName}}   </li>
            </ul>


            <a href="#/kontakt/{{contact.Id}}">Detaljnije</a>
            <a href="#/uredi/{{contact.Id}}">Uredi kontakt</a>
            <a href="#" ng-click="deleteContact( contact.Id )"> Izbriši kontakt</a>

        </div>




        <h2>{{contact.FirstName}} {{contact.LastName}}</h2>
        <p> Adresa:  {{contact.Address}} </p>



        <h4>Mail adrese: </h4>
        <ul>
            <li ng-repeat="address in contact.MailAddresses"> {{address.Address}}   </li>
        </ul>
        



    </li>
</ul>

