﻿<input type="text" name="term" ng-model="term" ng-change="search(term)"/>

<button ng-click="search(term)">Pretraži</button>

<div class="search-results" ng-show="searched">
    <h2>Rezultati pretrage za izraz {{searchTerm}}:</h2>

    <ul>
        <li class="contact-item fav-{{contact-favourite}}" ng-repeat="contact in searchResults track by $index">
            <h2>{{contact.FirstName}} {{contact.LastName}}</h2>
            <p> Adresa: {{contact.Address}} </p>

            <ul>
                <li ng-repeat="number in contact.PhoneNumbers"> {{number.Number}}   </li>
            </ul>

            <h4>Mail adrese:</h4>
            <ul>
                <li ng-repeat="address in contact.MailAddresses"> {{address.Address}}   </li>
            </ul>

            <h4>Tagovi:</h4>
            <ul>
                <li ng-repeat="tag in contact.Tags"> {{tag.TagName}}   </li>
            </ul>


            <div class="float-right">
                <a href="#/uredi/{{contact.Id}}">Uredi kontakt</a>
                <a href="#/izbrisi/{{contact.Id}}">Izbrisi kontakt</a>
            </div>

        </li>
    </ul>



</div>