﻿
<!DOCTYPE html>
<html lang="en" ng-app="App" ng-controller="ContactsController">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Kontakti</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
</head>
<body>


    <header>
        <nav>
            <ul id="menu">
                <li><a href="/#/">Kontakti</a></li>
                <li><a href="/#/dodaj">Dodaj kontakt</a></li>
                <li><a href="/#/trazi">Pretraga</a></li>  
            </ul>
        </nav>
    </header>
    
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <div ng-view id="ng-view"></div>
        </section>
    </div>
    

    @Scripts.Render("~/bundles/angular")
</body>
</html>
